/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #dfded2;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

nav {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 100px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #444935;
  font-weight: normal;
  font-size: 20px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffffff;
}

.logo {
  display: flex;
  justify-items: flex-start;
  height: 60px;
  width: auto;
}

.kurv_search {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 35px;
}

.search {
  margin-right: 20px;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 10px;
    background-color: #dfded2;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #dfded2;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav {
    flex: 3;
    display: flex;
    margin-left: 20px;
    justify-content: flex-end;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }

  nav.active .menu li {
    margin: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  nav.active .menu a {
    font-size: 15px;
  }

  .logo {
    max-width: 125px;
    width: 100%;
    margin-left: 11px;
  }

  .kurv_search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .kurv {
    margin-left: 15px;
  }

  .search {
    display: none;
    margin: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    gap: 40px;
    font-size: small;
  }

  .lande_verdenskort {
    display: none;
  }
}

h1 {
  text-align: center;
  font-family: "Baskerville", serif;
  font-weight: 100;
  color: #333333;
  text-transform: uppercase;
  padding-top: 50px;
}

.Baskerville {
  font-family: "Baskerville", serif;
  font-size: 30px;
  margin-top: 60px;
  text-align: center;
}

.right svg {
  position: absolute;
  right: 35px;
  margin-top: 50px;
}

.left svg {
  position: absolute;
  left: 35px;
  margin-top: 50px;
}

.item-left {
  display: flex;
  align-items: center; /* vertical alignment for all children */
}

.left {
  display: flex;
  align-items: center; /* aligns SVG and image vertically */
}

.item-right {
  display: flex;
  align-items: center; /* vertical alignment for all children */
}

.right {
  display: flex;
  align-items: center; /* aligns SVG and image vertically */
}

.newsletter {
  position: relative; /* Absolute positioning of SVG */
  width: 100%;
  display: flex;
  justify-content: center; /* Centers H2 */
  margin-top: 60px;
  text-align: center;
}

.newsletter h2 {
  margin: 0;
}

.newsletter svg {
  position: absolute;
  right: 76px;
  top: 50%;
}

html {
  scroll-behavior: smooth;
}

#top {
  scroll-margin-top: 80px; /* height of your header */
}

@media only screen and (max-width: 768px) {
  .Baskerville {
    font-family: "Baskerville", serif;
    font-size: 25px;
    margin-top: 60px;
  }

  .newsletter h2 {
    margin: 0;
  }

  .newsletter svg {
    display: none;
  }

  .right svg {
    display: none;
  }

  .left svg {
    display: none;
  }
}

.explore {
  color: white;
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 30px;
  margin-top: 20px;
  font-size: 50px;
}

.explore:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .explore {
    color: white;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 20px;
    margin-top: 20px;
    font-size: 30px;
  }

  .explore:hover {
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }
}

::selection {
  background: #737a5d;
  color: white;
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #333333;
}

h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333333;
  cursor: pointer;
}

h3:hover {
  color: #333333;
  font-weight: 400;
  transition: ease-in;
}

@media only screen and (max-width: 768px) {
  h3 {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 0.82rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333333;
    cursor: pointer;
  }

  h3:hover {
    color: #333333;
    font-weight: 400;
    transition: ease-in;
  }
}

.alle-lande_2 h3 {
  font-family: "Baskerville", serif;
  margin: 0px;
}

.alle-lande_2 h3:hover {
  font-weight: 600;
  transform: scale(1.05);
}

.alle-lande_2 {
  margin-top: 20px;
}

h4 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #a7ad8b;
  cursor: pointer;
}

h4:hover {
  background-color: #444935;
  color: white;
  font-weight: 400;
}

.Boxed_3 {
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.Boxed {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  color: rgb(191, 191, 191);
  border: 0.5px solid #333333;
  padding: 20px 400px 20px 10px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  text-transform: none;
}

.Boxed_2 {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #a7ad8b;
  padding: 20px 205px 20px 205px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.Boxed_2:hover {
  background-color: #444935;
  color: white;
}

@media only screen and (max-width: 768px) {
  .Boxed_2 {
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #a7ad8b;
    padding: 15px 105px 15px 105px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
  }

  .Boxed_2:hover {
    background-color: #444935;
    color: white;
  }
}

.text_1 h3 {
  margin: 50px;
}

.Spain {
  border-bottom: 1px;
}

.stroke {
  border: none;
  height: 0.5px;
  background-color: #333333;
  width: 90%;
  max-width: 1350px;
  margin: 0 auto 80px auto;
}

.stroke_2 {
  border: none;
  height: 0.5px;
  background-color: #333333;
  width: 90%;
  max-width: 1350px;
  margin: 0 auto 80px auto;
  margin-top: 80px;
  margin-bottom: 20px;
}

.stroke_vertical {
  width: 0.5px;
  height: 20px;
  background: #333333;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }

  .stroke_vertical {
    width: 0.5px;
    height: 15px;
    background: #333333;
  }
}

@media screen and (max-width: 1024px) {
  hr.stroke {
    width: 90%;
    margin-bottom: 60px;
    border: none;
    height: 0.5px;
    background-color: #333333;
    max-width: 100%;
    margin: 0 auto 80px auto;
  }

  .footer {
    font-size: 10px;
  }

  .footer_2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  hr.stroke {
    width: 90%;
    margin-bottom: 50px;
    border: none;
    height: 0.5px;
    background-color: #333333;
    max-width: 100%;
    margin: 0 auto 80px auto;
  }
}

footer {
  background-color: #dfded2;
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer p {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  word-spacing: 2px;
}

.footer_2 p {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  word-spacing: 2px;
}

.icon-text {
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 14px;
  color: #333333;
  text-align: center;
  line-height: 1.6em;
}

.line-height {
  line-height: 1.8em;
}

.icon-with-text svg path {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.rights {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  word-spacing: 2px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  footer {
    background-color: #dfded2;
  }

  .footer p {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    word-spacing: 0.5px;
  }
  .icon-text {
    width: 100%;
    max-width: 100%;
    margin-top: 6px;
    margin-bottom: 35px;
    font-size: 9px;
    color: #333333;
    text-align: center;
    line-height: 1.6em;
  }

  .line-height {
    font-size: 10px;
    margin: 0 auto;
    line-height: 1em;
  }

  .icon-with-text svg path {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
  }

  .icon svg {
    width: 70%;
    stroke: none;
    cursor: pointer;
  }

  .rights {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 8px;
    word-spacing: 2px;
    text-align: center;
  }
}

.line-height {
  line-height: 1.8em;
}

.icon svg {
  margin-top: 3px;
  stroke: none;
  cursor: pointer;
}

.Verdenskort svg path {
  fill: #444935;
  stroke: white;
  stroke-width: 0.5px;
}

.Verdenskort svg {
  width: 100%;
  max-width: 100%;
  margin-top: 25px;
  align-items: center;
}

.Denmark:hover {
  fill: #737a5d;
  cursor: pointer;
}

#FI:hover,
#KE:hover,
#SE:hover,
#ZW:hover,
#ES:hover {
  fill: #dfded2;
  cursor: pointer;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 80px;
  margin-top: 60px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 17.5px;
}

.column img {
  margin-top: 35px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* .image-wrapper {
  display: grid;
  width: 100%;
  position: relative;
}

.image-wrapper img,
.quick-view {
  grid-area: 1 / 1;
}

.quick-view {
  align-items: flex-end;
  align-content: end;
} */
