/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.main {
  max-width: 1200px;
}

header {
  display: flex;
  align-items: center;
  padding: 25px 25px;
  background-color: #dfded2;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; /* caps lock text */
  font-size: 24px; /* menu text size */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.menu {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #444935;
  font-weight: normal;
  font-size: 17px;
  display: block;
  padding: 10px;
  transition: color 0.3s;
}
.menu a:hover {
  color: #ffffff;
}

.kurv_search img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
}

.logo img {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height: 100px;
}

h1 {
  text-align: center;
  font-family: "Baskervville", serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 50px;
}

.explore {
  color: white;
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 30px;
  margin-top: 20px;
  font-size: 50px;
}

.explore:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

::selection {
  background: #444935;
  color: white;
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
}

.text_1 h3 {
  margin: 50px;
}

.text_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Spain {
  border-bottom: 1px;
}

.stroke {
  width: 1350px;
  height: 0.5px;
  background: rgb(0, 0, 0);
  margin: 0 auto;
  margin-bottom: 200px;
}

svg path {
  fill: #444935;
  stroke: white;
  stroke-width: 0.5px;
}

svg {
  width: 90%;
  max-width: 1500px;
  height: auto;
  padding-top: 80px;
  align-items: center;
}

.Denmark:hover {
  fill: #737a5d;
  cursor: pointer;
}

#FI:hover,
#KE:hover,
#SE:hover,
#ZW:hover,
#ES:hover {
  fill: #dfded2;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  svg path {
    fill: none;
  }
  nav {
    display: block;
  }
}
