/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  display: flex;
  align-items: center;
  padding: 25px 25px;
  background-color: #dfded2;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.menu {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #444935;
  font-weight: normal;
  font-size: 17px;
  display: block;
  padding: 10px;
  transition: color 0.3s;
}
.menu a:hover {
  color: #ffffff;
}

.kurv_search img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
}

.logo img {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height: 100px;
}

h1 {
  text-align: center;
  font-family: "Baskerville", serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 50px;
}

.Baskerville {
  font-family: "Baskerville", serif;
  font-size: 38px;
  margin-top: 60px;
}

.explore {
  color: white;
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 30px;
  margin-top: 20px;
  font-size: 50px;
}

.explore:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

::selection {
  background: #444935;
  color: white;
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #333333;
}

h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #333333;
}

h4 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #a7ad8b;
  cursor: pointer;
}

h4:hover {
  background-color: #444935;
  color: white;
}

.Boxed_3 {
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.Boxed {
  width: 600px;
  margin: 0 auto;
  color: rgb(191, 191, 191);
  border: 0.5px solid #333333;
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  text-transform: none;
}

.Boxed_2 {
  margin: 0 auto;
  width: 600px;
  color: rgb(255, 255, 255);
  background-color: #a7ad8b;
  padding: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.Boxed_2:hover {
  background-color: #444935;
  color: white;
}

.text_1 h3 {
  margin: 50px;
}

.Spain {
  border-bottom: 1px;
}

.stroke {
  width: 1350px;
  height: 0.5px;
  background: #333333;
  margin: 0 auto;
  margin-bottom: 80px;
}

.stroke_2 {
  width: 1350px;
  height: 0.5px;
  background: #333333;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 20px;
}

footer {
  background-color: #dfded2;
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer p {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  word-spacing: 2px;
}

.rights {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  word-spacing: 2px;
  text-align: center;
}

.line-height {
  line-height: 1.8em;
}

.icon svg {
  margin-top: 3px;
  stroke: none;
  cursor: pointer;
}

.icon-text {
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 14px;
  color: #333333;
  text-align: center;
  line-height: 1.6em;
}

.icon-with-text svg path {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.Verdenskort svg path {
  fill: #444935;
  stroke: white;
  stroke-width: 0.5px;
}

.Verdenskort svg {
  max-width: 1500px;
  height: auto;
  margin-top: 50px;
  align-items: center;
}

.Denmark:hover {
  fill: #737a5d;
  cursor: pointer;
}

#FI:hover,
#KE:hover,
#SE:hover,
#ZW:hover,
#ES:hover {
  fill: #dfded2;
  cursor: pointer;
}
