.billeder_forside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 80px;
  margin-top: 35px;
}

.billeder_forside_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 35px;
}

.billeder_forside_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 35px;
}

@media only screen and (max-width: 768px) {
  .billeder_forside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
  }

  .billeder_forside_2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
  }

  .billeder_forside_3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
  }
}

.wolf1 {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.Wolf_frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: start;
}

.Wolf_frame > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: top;
  width: 100%;
}

.sunrise {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore {
  grid-area: 1 / 1;
}

.lande_verdenskort {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
@media only screen and (max-width: 768px) {
  .lande_verdenskort {
    display: none;
  }
}

.alle-lande_2 {
  display: flex;
  justify-content: center;
  font-size: large;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .alle-lande_2 {
    display: flex;
    justify-content: center;
    font-size: large;
    gap: 5px;
  }
}

.text_lande_1 {
  grid-area: 1/1;
}

.text_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Boxed_3 {
  display: flex;
  gap: 30px;
}

@media only screen and (max-width: 768px) {
  .Boxed_3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer {
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
  }
}

.footer {
  max-width: 100%;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
