.billeder_forside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin: 80px;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: top;
  width: 100%;
}

.sunrise {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore {
  grid-area: 1 / 1;
}

.lande_verdenskort {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.text_lande_1 {
  grid-area: 1/1;
}

.Boxed_3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .billeder_forside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 30px;
  }
}
