.billeder_forside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 80px;
  margin-top: 35px;
}

.billeder_forside_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 35px;
}

.billeder_forside_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 35px;
}

@media only screen and (max-width: 768px) {
  .billeder_forside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
  }

  .billeder_forside_2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
  }

  .billeder_forside_3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
  }
}

.Boxed_size {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

@media only screen and (min-width: 769px) {
  .Wolf_frame {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-items: start;
  }

  .Wolf_frame > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .wolfshop {
    display: grid;
    grid-template-columns: 1fr;
  }

  .Boxed_size {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: start center;
  width: 100%;
}

.sunrise {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore {
  grid-area: 1 / 1;
}

.arrow.right {
  grid-column: 2 / 3; /* right column */
  justify-self: end; /* stick to right */
  align-self: center; /* vertically centered */
  z-index: 2;
}

.arrow.left {
  grid-column: 2 / 3; /* right column */
  grid-row: 1;
  justify-self: end; /* stick to right */
  align-self: center; /* vertically centered */
  z-index: 2;
}

.lande_verdenskort {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
@media only screen and (max-width: 768px) {
  .lande_verdenskort {
    display: none;
  }
}

.alle-lande_2 {
  display: flex;
  justify-content: center;
  font-size: large;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .alle-lande_2 {
    display: flex;
    justify-content: center;
    font-size: large;
    gap: 5px;
  }
}

.text_lande_1 {
  grid-area: 1/1;
}

.text_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 85px;
}

.frames2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 35px;
}

.Boxed_3 {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .frames,
  .frames2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .Boxed_3 {
    display: flex;
    flex-direction: column;
    font-size: 10.5px;
    gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .frames,
  .frames2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
  }
}

.footer {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.footer_2 {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    gap: 10px;
    justify-content: center;
  }

  .footer_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    columns: 1;
    justify-items: center;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    gap: 30px;
  }

  .icon-1 svg {
    height: 35px;
  }

  .icon-with-text {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .icon {
    text-align: left;
  }
}
