/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

svg path {
  fill: #ccbfa3;
  stroke: white;
  stroke-width: 0.5px;
  transition: fill 0.6s;
}

.Denmark:hover {
  fill: #737a5d;
  cursor: pointer;
}

#FI:hover,
#KE:hover,
#SE:hover,
#ZW:hover,
#ES:hover {
  fill: #737a5d;
  cursor: pointer;
}
